<div class="col-2">
  <div class="left-bar fix-bar" style="height: 100%;">
    <div class="left-bar-content" >
      <div class="ac-icon mt-2 mb-4">
        <img class="ac-img" width="50px" , height="50px" src="/images/AC-icon@2x.png" alt="AC icon">
      </div>
      <div class="home mb-3">
        <a href="/tweets">
        {{#ifNotCond route "tweets"}}
          <img class="left-bar-icon" src="/images/home-outlined@2x.png" alt="home">
          <span class="word">首頁</span>
        {{/ifNotCond}}
        {{#ifCond route "tweets"}}
          <img class="left-bar-icon" src="/images/home-orange@2x.png" class="base-icon">
          <span class="word" style="color: #FF6600;">首頁</span>
        {{/ifCond}}
        </a>
      </div>

      <div class="personal-info mb-3">
        <a href="/users/{{user.id}}">
        {{#ifNotCond route "profile"}}
          <img class="left-bar-icon" src="/images/user-outlined@2x.png" alt="home">
          <span class="word">個人資料</span>
        {{/ifNotCond}}
        {{#ifCond route "profile"}}
          <img class="left-bar-icon" src="/images/user-orange@2x.png" class="base-icon">
          <span class="word" style="color: #FF6600;">個人資料</span>
        {{/ifCond}}
        </a>
      </div>

      <div class="personal-info-setting mb-3">
        
        <a href="/edit">
          {{#ifNotCond route "setting"}}
          <img class="left-bar-icon" src="/images/setting-outlined@2x.png" alt="home">
          <span class="word">設定</span>
          {{/ifNotCond}}
          {{#ifCond route "setting"}}
          <img class="left-bar-icon" src="/images/setting-orange@2x.png" class="base-icon">
          <span class="word" style="color: #FF6600;">設定</span>
          {{/ifCond}}
        </a>
      </div>

      <div class="tweets-new-tweet">
        <button class="left-bar-tweetbtn" type="submit" data-bs-toggle="modal" data-bs-target="#user-tweet-modal">推文</button>
      </div>
      
      <div class="logout">
        <img class="left-bar-icon" src="/images/logout@2x.png" alt="logout">
        <a href="/logout">
          <span><strong>登出</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>
