option_settings:
container_commands:
    database_migrationundo:
        leader_only: true
        command: "npm run dbmigrateundo" 
        ignoreErrors: true
    database_migration:
        leader_only: true
        command: "npm run dbmigrate" 
        ignoreErrors: true
        waitAfterCompletion: forever
    database_seed:
        leader_only: true
        command: "npm run seed"
        ignoreErrors: true
        waitAfterCompletion: forever    